# ==============================
# Java / Spring Boot
# ==============================

target/
*.class
*.log

# Maven
.mvn/timing.properties

# ==============================
# Node / React
# ==============================

node_modules/
dist/
.vite/

# ==============================
# Environment / Secrets
# ==============================

.env
.env.*
!.env.example

# ==============================
# IDE
# ==============================

.idea/
.vscode/
*.iml

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# FileFlow local storage
# ==============================

ftp-storage/